body{
    font-family:  Helvetica, sans-serif;
    background-color: black;
    color: seashell;
    font-size: 22px;
    opacity: 0.9;
    text-align: center;
    
}
.body{
    padding-top: 100px;
}
.container{
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*77hb78*_gcl_au*MTMzMjM4MjU3MS4xNzIyNjcwNTA2*_ga*Nzc2MjExMDM5Ni4xNzIyNjcwNTIx*_ga_3LRZM6TM9L*MTcyNzc4ODkyMy40NS4wLjE3Mjc3ODg5MjMuNjAuMC4w");
    background-size: cover;
    background-position: center;
    width: 1200px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
   
}

.mission{
    width: 1200px;
    z-index: 12;
    background-color: black;
    opacity: 0.9;

}
.cont{
   width: 1000px;
   margin: 0 auto; 
}

.tea h2, .tea p{
    text-align: center;
}
.tea-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.tea-item{
    text-align: center;
    width: calc(33.33%-20px);
}
.tea-item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;

}
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid seashell;
    height: 69px;
    width: 100%;
    z-index: 1000;
    position: fixed;
    
}
.logo img{
    padding-left: 10px;
    height: 50px;
}

.nav ul{
    list-style: none;
    display: flex;
    gap: 20px;

}
.nav ul li a{
    color: seashell;
}

.conta{
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*z45bfr*_gcl_au*MTMzMjM4MjU3MS4xNzIyNjcwNTA2*_ga*Nzc2MjExMDM5Ni4xNzIyNjcwNTIx*_ga_3LRZM6TM9L*MTcyNzc4ODkyMy40NS4wLjE3Mjc3ODg5MjMuNjAuMC4w");
    width:1200px;
    height: 500px;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}
.locations{
    display: flex;
    justify-content: space-around;
}

.location-box{
    background-color: black;
    width: 300px;
    height: 300px; 
    opacity: 1;
    gap:40px;

}

.footer{
    height: 200px;;
}

.copy{
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
}